<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
		<listener class-name="org.uncommons.reportng.HTMLReporter" />
		<!-- 
		<listener class-name="PagesEcommerce.ExtentReportListener" />
		 -->
		<listener class-name="PagesEcommerce.Listners" />
	</listeners>
	
  <test thread-count="5" name="Home Page Tests">
    <classes>
      <class name="ShoppingTests.TESTS_HomePage"/>
    </classes>
  </test>  
  
  <test thread-count="5" name="Login Tests">
    <classes>
      <class name="ShoppingTests.TESTS_Login"/>
    </classes>
  </test>
  
   <test thread-count="5" name="Purchase with logged user test">
    <classes>
      <class name="ShoppingTests.TESTS_PurchaseWithLoggedUser"/>
    </classes>
  </test>
  
    <test thread-count="5" name="Add / Remove Items tests">
    <classes>
      <class name="ShoppingTests.TESTS_ShoppingCartAddRemoveItems"/>
    </classes>
  </test>
  
    <test thread-count="5" name="Purchase - Registered Account from country having VAT">
    <classes>
      <class name="ShoppingTests.TESTS_PurchaseRegisteredAccount_VAT"/>
    </classes>
  </test>
  
    <test thread-count="5" name="Purchase - Registered Account from country Not having VAT">
    <classes>
      <class name="ShoppingTests.TESTS_PurchaseRegisteredAccount_NO_VAT"/>
    </classes>
  </test>
  
 
  <!--  -->
 
  
  
</suite> <!-- Suite -->
